/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
/clases/ReutilizacionDeCodigo/nbproject/private/
/clases/ReutilizacionDeCodigo/build/
/clases/Libro/target/
/clases/TareaUML/nbproject/private/
/clases/JavaApplication5/nbproject/private/
/clases/UMLtarea/nbproject/private/
/clases/UMLtarea/build/
/clases/LibroUML/nbproject/private/
/clases/LibroUML/build/
/clases/JavaBasico/nbproject/private/
/clases/JavaBasico/build/
/clases/JavaBasico2210V2/nbproject/private/
